* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Mulish;
  font-style: regular;
  font-weight: 400;
  src: url(/fonts/Mulish-Regular.ttf);
}
@font-face {
  font-family: Mulish;
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/Mulish-Bold.ttf);
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h2 {
  font-weight: 700;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
}
.menu-btn_ham {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  height: 17px;
  width: 20px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}
.logo_pic {
  margin-right: 3px;
  cursor: pointer;
}
.input-group {
  background-color: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  margin-left: 59px;
  max-width: 830px;
  width: 50%;
}
.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}
.btn-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-search {
  fill: #000;
}
.icon-link {
  width: 27px;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.24;
}
.icon-link:hover {
  opacity: 0.7;
}
.icon-link:not(:last-child) {
  margin-right: 50px;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user-avatar {
  width: 40px;
  height: 40px;
}
.user {
  margin-left: 25px;
}
.sidebar {
  padding-left: 32px;
}
.container {
  max-width: 160px;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
}
.nav-item {
  list-style: none;
  margin-bottom: 28px;
  fill: #898989;
}
.nav-text {
  margin-left: 13px;
}
.nav-link {
  color: #898989;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-link:hover {
  color: #ff0000;
}
.nav-link:hover .icon-menu {
  fill: #ff0000;
}
.nav-title {
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 30px;
}
