* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
}
.menu-btn_ham {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  height: 17px;
  width: 20px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #1f2022;
  border-radius: 20px;
}
.logo_pic {
  margin-right: 3px;
  cursor: pointer;
}
.input-group {
  background-color: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  margin-left: 59px;
  max-width: 830px;
  width: 50%;
}
.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
}
.btn-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-search {
  fill: #000;
}
.icon-link {
  width: 27px;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.24;
}
.icon-link:hover {
  opacity: 0.7;
}
.icon-link:not(:last-child) {
  margin-right: 50px;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.user-avatar {
  width: 40px;
  height: 40px;
}
.user {
  margin-left: 25px;
}
